@font-face {
  font-family: "Right Serif";
  src: url("/Users/bodhaanshravipati/clr-project/my-app/public/fonts/PP Right Serif - Compact Black.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Right Serif";
  src: url("/Users/bodhaanshravipati/clr-project/my-app/public/fonts/PP Right Serif - Light.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Right Serif";
  src: url("/Users/bodhaanshravipati/clr-project/my-app/public/fonts/PP Right Serif - Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: white;
  color: white;
  font-family: 'Right Serif';

  margin-left: 4vw;
}

#title {
  position: absolute;
  font-family: 'Right Serif';
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 700%;

  color: #c27e00;
}

#update-text {
  color: #C2881E;
  position: absolute;
  font-family: 'Right Serif';
  font-style: italic;

  font-size: 87.5%;

  width: 100%;
  text-align: center;

  margin-top: 8vh;
}

#title-text {
  position: absolute;
  font-family: 'Right Serif';

  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;

  font-size: 109.375%;

  width: 100%;
  text-align: center;

  margin-top: 25vh;
  /* margin-left: 20vw; */

  color: #c27e00;
}

#key {
  width: 100%;
  text-align: center;
  /* color: white; */

  font-family: 'Right Serif';
  font-weight: normal;
  font-style: normal;
  /* padding-left: 1vw; */

  font-size: 2vw;
}

/* #value {
  width: 100%;
  position: relative;
  text-align: right;
  color: gold;

  font-family: Air;

  padding-right: 1vw;

  font-size: 3vw;
} */

#dataKey {
  position: absolute;
  margin-top: 10px;

  width: 32%;
  text-align: center;

  font-family: Air;
  font-style: italic;

  font-size: 3vw;
}

#column-box {
  border-radius: 10px;
  border-color: #C2881E;
  border-style: solid;
  border-width: 0.25vw;

  width: 20%;
  height: 25vh;

  margin-top: 1vh;
}

#column-header {
  position: absolute;
  margin-left: 8vw;
  margin-top: -10.5vh;

  width: 10%;
  text-align: center;

  font-family: 'Right Serif';
  font-weight: bold;
  font-size: 2vw;

  color: #bf7c00;
}

:link {
  text-decoration: none;
}

#column-link {
  position: relative;
  width: 48%;
  height: 10%;
  text-align: center;
  margin-left: 5vw;
  padding-top: 12px;

  margin-top: 2vh;
  /* color: #C58C20; */

  border-radius: 1vw;
  /* border-color: #C2881E; */
  border-style: solid;
  border-width: 0.25vw;

  font-family: 'Right Serif';
  font-style: italic;
  font-size: 1.25vw;

  color: #6298FE;
}

#column-link > p {
  position: relative;
  margin-top: -1vh;
}

#row-container {
  position: absolute;
  display: flex;
  flex-direction: row;

  margin-top: -96vh;
  margin-left: 20vw;
}

#row-box {
  /* margin-left: 10vw; */
  position: relative;
  width: 12vw;
  height: 8vh;

  margin-left: 2vw;

  border-radius: 1vw;
  border-color: #6298FE;
  border-style: solid;
  border-width: 0.25vw;
}

#row-header {
  margin-left: 2.5vw;
  margin-top: -4vh;

  text-align: center;

  font-family: 'Right Serif';
  font-size: 1.5vw;
  width: 10vw;

  color: #6298FE;
}

#education-experiences {
  position: absolute;
  display: flex;
  flex-direction: column;

  font-family: 'Right Serif';
  font-weight: bold;

  margin-left: 24vw;
  margin-top: -79vh;

  gap: 1vh;
}

#header-row {
  /* border-radius: 1vw;
  border-color: white;
  border-style: solid; */

  width: 30vw;
  height: 8vh;
}

#header-title {
  position: relative;
  font-family: 'Right Serif';

  font-weight: bold;
  font-style: italic;
  font-size: 1.25vw;
  margin-bottom: -2vh;

  text-transform: uppercase;

  color: #bf7c00;
}

#header-description {
  position: relative;

  font-family: 'Right Serif';

  font-weight: normal;
  font-size: 1vw;
  margin-top: 2.5vh;

  color: #C2881E;
}


#profile-container {
  position: relative;
  
  display: flex;
  flex-direction: row;

  border-radius: 1vw;
  border-color: #C2881E;
  border-style: solid;
  border-width: 0.25vw;

  width: 19.5vw;
  
  font-family: 'Right Serif';
  font-weight: bold;
  /* font-style: italic; */

  font-size: 1vw;
}

#profile-picture {
  margin-top: 1.25vh;
  margin-left: 0.5vw;
}

#profile-info-container {
  margin-left: 1vw;
  font-style: italic;
  color: #0154EF;
}

#header-container {
  display: flex;
  flex-direction: column;

  position: absolute;

  gap: 80vh;
}

#professional-experiences {
  position: absolute;
  display: flex;
  flex-direction: column;

  font-family: 'Right Serif';
  font-weight: bold;

  margin-left: 24vw;
  margin-top: -52vh;

  gap: 1vh;
}

#leadership-experiences {
  position: absolute;
  display: flex;
  flex-direction: column;

  font-family: 'Right Serif';
  font-weight: bold;

  margin-left: 24vw;
  margin-top: -25vh;

  gap: 1vh;
}

#description-container {
  position: absolute;
  display: flex;
  flex-direction: column;

  margin-top: -79vh;
  margin-left: 70.5vw;

  gap: 1vh;
}

#description-box {
  border-radius: 1vw;
  border-color: #C2881E;
  border-style: solid;
  border-width: 0.25vw;

  width: 20vw;
  height: 25vh;

  padding-top: 1vh;
}

#description-title {
  position: relative;
  font-family: 'Right Serif';
  font-weight: bold;
  font-style: italic;
  font-size: 2vw;
  margin-top: -0.25%;
  margin-left: 1vw;

  color: #c27e00;
}

#description-section {
  font-family: 'Right Serif';
  font-size: 1.25vw;
  font-weight: normal;

  position: relative;
  margin-top: -2vh;
  margin-left: 1vw;
  width: 18vw;

  color: #C2881E;
}

#edits-container {
  position: absolute;
  display: flex;
  flex-direction: column;

  margin-left: 56vw;
  margin-top: 29.5vh;

  gap: 20vh;
}