@font-face {
  font-family: "Right Serif";
  src: url("/Users/bodhaanshravipati/clr-project/my-app/public/fonts/PP Right Serif - Compact Black.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Right Serif";
  src: url("/Users/bodhaanshravipati/clr-project/my-app/public/fonts/PP Right Serif - Light.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Right Serif";
  src: url("/Users/bodhaanshravipati/clr-project/my-app/public/fonts/PP Right Serif - Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: black;
  color: white;
  font-family: 'Right Serif';
}

#title {
  position: absolute;
  font-family: 'Right Serif';
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8vw;
}

#update-text {
  color: rgb(178, 178, 178);
  position: absolute;
  font-family: 'Right Serif';
  font-style: italic;

  font-size: 1vw;

  width: 100%;
  text-align: center;

  margin-top: 8vh;
}

#title-text {
  position: absolute;
  font-family: 'Right Serif';

  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;

  font-size: 1.25vw;

  width: 60%;
  text-align: center;

  margin-top: 25vh;
  margin-left: 20vw;
}

#key {
  width: 100%;
  text-align: center;
  /* color: white; */

  font-family: 'Right Serif';
  font-weight: normal;
  font-style: normal;
  /* padding-left: 1vw; */

  font-size: 2vw;
}

/* #value {
  width: 100%;
  position: relative;
  text-align: right;
  color: gold;

  font-family: Air;

  padding-right: 1vw;

  font-size: 3vw;
} */

#dataKey {
  position: absolute;
  margin-top: 10px;

  width: 32%;
  text-align: center;

  font-family: Air;
  font-style: italic;

  font-size: 3vw;
}

#column-box {
  border-radius: 10px;
  border-color: white;
  border-style: solid;

  width: 20%;
  height: 25vh;

  margin-top: 1vh;
}

#column-header {
  position: absolute;
  margin-left: 8vw;
  margin-top: -10.5vh;

  width: 10%;
  text-align: center;

  font-family: 'Right Serif';
  font-weight: bold;
  font-size: 2vw;
}

:link {
  text-decoration: none;
}

#column-link {
  position: relative;
  width: 48%;
  height: 10%;
  text-align: center;
  margin-left: 5vw;
  padding-top: 12px;

  margin-top: 2vh;
  color: white;

  border-radius: 1vw;
  border-color: white;
  border-style: solid;

  font-family: 'Right Serif';
  font-style: italic;
  font-size: 1.25vw;
}

#column-link > p {
  position: relative;
  margin-top: -1vh;
}

#row-container {
  position: absolute;
  display: flex;
  flex-direction: row;

  margin-top: -96vh;
  margin-left: 20vw;
}

#row-box {
  /* margin-left: 10vw; */
  position: relative;
  width: 12vw;
  height: 8vh;

  margin-left: 2vw;

  border-radius: 1vw;
  border-color: white;
  border-style: solid;
}

#row-header {
  margin-left: 2.5vw;
  margin-top: -4vh;

  text-align: center;

  font-family: 'Right Serif';
  font-size: 1.5vw;
  width: 10vw;

  color: white;
}

#education-experiences {
  position: absolute;
  display: flex;
  flex-direction: column;

  font-family: 'Right Serif';
  font-weight: bold;

  margin-left: 24vw;
  margin-top: -79vh;
}

#header-row {
  border-radius: 1vw;
  border-color: white;
  border-style: solid;

  width: 30vw;
  height: 8vh;
}

#header-title {
  font-size: 1.5vw;
}

#header-organization {
  font-size: 1vw;
}